<div class="nav">
    <a ui-sref="home"><img src="/public/home.png" alt="by Aiden Icons of thenounproject" class="nav-img"></a>
    <a ui-sref="uploadImage"><img src="/public/upload-icon.png" alt="by Serkan Doğan of thenounproject" class="nav-img"></a>
    <a ui-sref="imageMap"><img src="/public/about.png" alt="by Chinnaking of thenounproject" class="nav-img"></a>
</div>

<div ng-controller="uploadController" id="upload-controller">
    <form id="upload-form" method="POST" ng-submit="submit()">
        <input ng-model="file" type="file" name="file"><br>
        <input ng-model="username" type="text" name="username" placeholder="Username"><br>
        <input ng-model="title" type="text" name="title" placeholder="Title"><br>
        <input ng-model="description" type="text" name="description" placeholder="Description"><br>
        <button type="submit" name="button">Upload Image</button>
    </form>
    {{message}}
</div>
